<div class="row">
  <div class="col">
    <button class="btn btn-primary"(click)="goBack()">back</button>
  </div>
  <div class="col">
    <button class="btn btn-primary"(click)="prevItem()">Previous</button>
    <button class="btn btn-primary"(click)="nextItem()">Next</button>
  </div>
</div>

<div *ngIf = "product$ | async as product">
  <h1>{{product.name}}</h1>
  <h1>{{product.price}}</h1>
  <button class="btn btn-primary"[routerLink]="['/products',product.id,'review']">Review</button>
  <button class="btn btn-primary"[routerLink]="['/products',product.id,'specification']">Specification</button>
</div>

<router-outlet></router-outlet>
