<div class="row">
  <div class="col">
    <div class="mb-3">
  <input  type="text" class="form-control" [(ngModel)]="filter">
</div>
<div class="mb-3">
  <input type="checkbox" class="form-check-input" [(ngModel)]="showimage">showimage:
</div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div *ngFor="let product of filtered" class="col" >
  <div class="card" >
    <div class="d-flex justify-content-center" *ngIf="showimage">
    <!--<img [src]="product.image"
    class="card-img-top"
    [alt]="product.name"
    [style.width.px]="200"
    [style.height.px]="200">-->
    <img [src]="product.image"
    class="card-img-top"
    [alt]="product.name"
   [ngStyle]="imgstyle">
  </div>
    <div class="card-body">
      <h5 class="card-title"
      [routerLink]="['/products',product.id]"
      [style.cursor]="'pointer'">{{product.id}}</h5>
      <strong>{{product.name | uppercase}}</strong>
      <h3>{{product.price | currency: 'INR' : 'symbol' :  '1.0-2'}}</h3>
      <p class="card-text" [title]="product.description">{{product.description | slice:0:49}}</p>
      <P>{{product.publishdate | date : 'dd-MMMM-YYYY-HH-mm-ss'}}</P>
      <p>{{product.code | convert:'='}}</p>
      <!--<app-star [rating]="product.rating" (click)="product.rating=2"></app-star>-->
      <app-star [rating]="product.rating" (ratingClick)="onRatingClicked($event)" ></app-star>
      <a href="#" class="btn btn-primary" (click)="addtocart($event,product)" >add to cart</a>
    </div>
  </div>
  </div>
  </div>
